<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<link rel="stylesheet" href="../include/element/index.css" media="all">
	<link rel="stylesheet" href="../include/style/common.css" media="all">
	<link rel="stylesheet" href="../include/style/tableList.css">
	<style>
		.el-date-editor.el-input{width:130px;}
	</style>
</head>

<body>
	<div class="cont">
		<table class="filter_t mb20">
			<tr>
				<td>姓名</td>
				<td>
					<el-input v-model="fullname" placeholder="请输入" size="mini"></el-input>
				</td>
				<td><a class="bluebtn mr20 ml40" @click="loadtable"><img src="../include/images/table/cx.png" alt="">
						查询</a> <a class="bluebtn" @click="handleadd"><i class="el-icon-plus"></i> 新增</a></td>
			</tr>
		</table>
		<el-table :data="tableData" style="width: 100%" stripe="true">
			</el-table-column>
			<el-table-column type="index" width="50" label="序号">
			</el-table-column>
			<el-table-column label="档案编号">
				<template slot-scope="scope">
					<span>{{ scope.row.patientid }}</span>
				</template>
			</el-table-column>
			<el-table-column label="姓名">
				<template slot-scope="scope">
					<span>{{ scope.row.fullname }}</span>
				</template>
			</el-table-column>
			<el-table-column label="出生日期">
				<template slot-scope="scope">
					<span>{{ scope.row.birthday }}</span>
				</template>
			</el-table-column>
			<el-table-column label="性别">
				<template slot-scope="scope">
					<span>{{ scope.row.sex }}</span>
				</template>
			</el-table-column>
			<el-table-column label="民族">
				<template slot-scope="scope">
					<span>{{ scope.row.nation }}</span>
				</template>
			</el-table-column>
			<el-table-column label="护士">
				<template slot-scope="scope">
					<span>{{ scope.row.nurseFullname }}</span>
				</template>
			</el-table-column>
			<el-table-column label="填表日期">
				<template slot-scope="scope">
					<span>{{ scope.row.createDate }}</span>
				</template>
			</el-table-column>
			<!-- <el-table-column label="状态">
				<template slot-scope="scope">
					<el-switch v-model="scope.row.status" active-color="#2a97ff" inactive-color="#b3b3b3">
					</el-switch>
				</template>
			</el-table-column> -->
			<el-table-column label="操作" width="150" fixed="right" align="center">
				<template slot-scope="scope">
					<el-tooltip class="item" content="编辑">
						<a @click="handleEdit(scope.$index, scope.row)"><img
								src="../include/images/table/edit-blue.png" /></a>
					</el-tooltip>
					<el-tooltip class="item" content="删除">
						<a @click="handleDelete(scope.$index, scope.row)"><img
								src="../include/images/table/del.png" /></a>
					</el-tooltip>
				</template>
			</el-table-column>
		</el-table>
		<el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage"
			:page-sizes="[10, 20, 50, 100]" :page-size="pageSize" layout="total, prev, pager, next, sizes, jumper"
			:total="totalNum">
		</el-pagination>

		<!-- 新增编辑模板弹框	 -->
		<el-dialog title="新增客户" :visible.sync="dialogVisible" width="900px" @close="closeDialog">
			<div slot="title" v-if="isAdd">新增</div>
			<div slot="title" v-else>编辑</div>
			<el-form :model="form" :rules="rules" ref="form" label-width="80px" label-position="right"
				class="elrulesform">
				<el-row :gutter="10">
					<el-col :span="6">
						<el-form-item label="档案编号" prop="patientid" >
							<el-input v-model="form.patientid" placeholder="请输入" size="mini"></el-input>
						</el-form-item>
					</el-col>
				</el-row>
				<el-row :gutter="10"><h3>一、一般资料</h3>
				</el-row>
				<el-row :gutter="10">
					<el-col :span="6">
						<el-form-item label="姓名" prop="fullname">
							<el-input v-model="form.fullname" placeholder="请输入" size="mini"></el-input>
						</el-form-item>
					</el-col>
					<el-col :span="6">
						<el-form-item label="性别">
							<el-radio v-model="form.sex" label="男"></el-radio>
							<el-radio v-model="form.sex" label="女"></el-radio>
						</el-form-item>
					</el-col>
					<el-col :span="6">
						<el-form-item label="出生日期">
							<el-date-picker
								v-model="form.birthday"
								type="date" value-format="yyyy-MM-dd" format="yyyy-MM-dd"
								placeholder="选择日期"
								size="mini">
								</el-date-picker>
						</el-form-item>
					</el-col>
					<el-col :span="6">
						<el-form-item label="民族" prop="nation">
							<el-select v-model="form.nation" placeholder="请选择" size="mini">
								<el-option v-for="one in dictNation"
									:key="one.itemCode"
									:value="one.itemName"
									:label="one.itemName"
								>
								</el-option>
							</el-select>
						</el-form-item>
					</el-col>
				</el-row>
				<el-row :gutter="10">
					<el-col :span="6">
						<el-form-item label="身份证号">
							<el-input v-model="form.cardno" placeholder="请输入" size="mini"></el-input>
						</el-form-item>
					</el-col>
					<el-col :span="12">
						<el-form-item label="地址">
							<el-input v-model="form.address" placeholder="请输入" size="mini"></el-input>
						</el-form-item>
					</el-col>
					<el-col :span="6">
						<el-form-item label="婚史">
							<el-input v-model="form.marriage" placeholder="请输入" size="mini"></el-input>
						</el-form-item>
					</el-col>
				</el-row>
				<el-row :gutter="10">
					<el-col :span="6">
						<el-form-item label="身高">
							<el-input v-model="form.height" placeholder="请输入" size="mini">
								<i slot="suffix" style="font-style:normal;margin-right: 10px;">厘米</i>
							</el-input>
						</el-form-item>
					</el-col>
					<el-col :span="6">
						<el-form-item label="体重">
							<el-input v-model="form.weight" placeholder="请输入" size="mini">
								<i slot="suffix" style="font-style:normal;margin-right: 10px;">公斤</i>
							</el-input>
						</el-form-item>
					</el-col>
					<el-col :span="6">
						<el-form-item label="BMI指数">
							<el-input v-model="bmi" placeholder="请输入" size="mini"></el-input>
						</el-form-item>
					</el-col>
					<el-col :span="6">
						<el-form-item label="电话">
							<el-input v-model="form.phone" placeholder="请输入" size="mini"></el-input>
						</el-form-item>
					</el-col>
				</el-row>
				<el-row :gutter="10">
					<el-col :span="6">
						<el-form-item label="体温">
							<el-input v-model="form.temperature" placeholder="请输入" size="mini">
								<i slot="suffix" style="font-style:normal;margin-right: 10px;">℃</i>
							</el-input>
						</el-form-item>
					</el-col>
					<el-col :span="6">
						<el-form-item label="血压">
							<el-input v-model="form.bloodpressure" placeholder="请输入" size="mini">
								<i slot="suffix" style="font-style:normal;margin-right: 10px;">mmHg</i>
							</el-input>
						</el-form-item>
					</el-col>
					<el-col :span="6">
						<el-form-item label="心率">
							<el-input v-model="form.heartrate" placeholder="请输入" size="mini">
								<i slot="suffix" style="font-style:normal;margin-right: 10px;">次/分</i>
							</el-input>
						</el-form-item>
					</el-col>
					<el-col :span="6">
						<el-form-item label="呼吸">
							<el-input v-model="form.breathe" placeholder="请输入" size="mini">
								<i slot="suffix" style="font-style:normal;margin-right: 10px;">次/分</i>
							</el-input>
						</el-form-item>
					</el-col>
				</el-row>
				<el-row :gutter="10"><h3>二、基本情况（有无以下症状）</h3></el-row>
				<el-row :gutter="10">
					<el-col :span="24">
						<el-form-item >
							<el-checkbox-group v-model="form.symptom">
							<el-checkbox label="胸闷" size="medium"></el-checkbox>
							<el-checkbox label="胸痛" size="medium"></el-checkbox>
							<el-checkbox label="心慌" size="medium"></el-checkbox>
							<el-checkbox label="头痛" size="medium"></el-checkbox>
							<el-checkbox label="头晕" size="medium"></el-checkbox>
							</el-checkbox-group>
						</el-form-item>
					</el-col>
				</el-row>
				<el-row :gutter="10">
					<el-col :span="24">
						<el-form-item >
							<el-checkbox-group v-model="form.symptom">
							<el-checkbox label="失眠" size="medium"></el-checkbox>
							<el-checkbox label="便秘" size="medium"></el-checkbox>
							<el-checkbox label="腹胀、反酸" size="medium"></el-checkbox>
							<el-checkbox label="易疲劳" size="medium"></el-checkbox>
							</el-checkbox-group>
						</el-form-item>
					</el-col>
				</el-row>

				<el-row :gutter="10">
					<el-col :span="24">
						<el-form-item >
							<el-checkbox-group v-model="form.symptom">
							<el-checkbox label="注意力难以集中" size="medium"></el-checkbox>
							<el-checkbox label="排尿异常（尿频、尿急、尿痛）" size="medium"></el-checkbox>
							</el-checkbox-group>
						</el-form-item>
					</el-col>
				</el-row>
				<el-row :gutter="10">
					<el-col :span="9">
						<el-form-item >
							<el-checkbox-group v-model="form.symptom">
							<el-checkbox label="焦虑" size="medium"></el-checkbox>
							<el-checkbox label="无" size="medium"></el-checkbox>
							<el-checkbox label="其他" size="medium"></el-checkbox>
							</el-checkbox-group>
						</el-form-item>
					</el-col>
					<el-col :span="6">
						<el-input v-model="form.symptomOther" placeholder="请输入" size="mini"></el-input>
					</el-col>
				</el-row>
				<el-row :gutter="10"><h3>三、家族史（包括父母、兄弟姐妹、祖父母）</h3></el-row>
				<el-row :gutter="10">
					<el-col :span="1">
						<el-form-item >
							<el-checkbox-group v-model="form.familyHistory">
							<el-checkbox label="癌症" size="medium"></el-checkbox>
							</el-checkbox-group>
						</el-form-item></el-col>
					<el-col :span="1">&nbsp;</el-col>
					<el-col :span="5">
						<el-form-item >亲属关系</el-form-item></el-col>
					<el-col :span="5">
						<el-form-item >诊断</el-form-item></el-col>
					<el-col :span="5">
						<el-form-item >时间</el-form-item></el-col>
					<el-col :span="5">
						<el-form-item >是否健在</el-form-item></el-col>
				</el-row>
				<el-row :gutter="10">
					<el-form-item>
					<el-col :span="1">&nbsp;</el-col>
					<el-col :span="1">1</el-col>
					<el-col :span="5"><el-input v-model="form.ai01" placeholder="请输入" size="mini"></el-input></el-col>
					<el-col :span="5"><el-input v-model="form.ai02" placeholder="请输入" size="mini"></el-input></el-col>
					<el-col :span="5"><el-input v-model="form.ai03" placeholder="请输入" size="mini"></el-input></el-col>
					<el-col :span="5"><el-input v-model="form.ai04" placeholder="请输入" size="mini"></el-input></el-col>
				</el-form-item>
				</el-row>
				<el-row :gutter="10">
					<el-form-item >
					<el-col :span="1">&nbsp;</el-col>
					<el-col :span="1">2</el-col>
					<el-col :span="5"><el-input v-model="form.ai11" placeholder="请输入" size="mini"></el-input></el-col>
					<el-col :span="5"><el-input v-model="form.ai12" placeholder="请输入" size="mini"></el-input></el-col>
					<el-col :span="5"><el-input v-model="form.ai13" placeholder="请输入" size="mini"></el-input></el-col>
					<el-col :span="5"><el-input v-model="form.ai14" placeholder="请输入" size="mini"></el-input></el-col>
					</el-form-item>
				</el-row>
				
				<el-row :gutter="10">
					<el-col :span="24">
						<el-form-item >
							<el-checkbox-group v-model="form.familyHistory">
							<el-checkbox label="高血压" size="medium"></el-checkbox>
							<el-checkbox label="糖尿病" size="medium"></el-checkbox>
							<el-checkbox label="心血管疾病" size="medium"></el-checkbox>
							<el-checkbox label="肝肾疾病" size="medium"></el-checkbox>
							</el-checkbox-group>
						</el-form-item>
					</el-col>
				</el-row>
				<el-row :gutter="10">
					<el-col :span="24">
						<el-form-item >
							<el-checkbox-group v-model="form.familyHistory">
							<el-checkbox label="呼吸道疾病" size="medium"></el-checkbox>
							<el-checkbox label="胃肠道疾病" size="medium"></el-checkbox>
							<el-checkbox label="风湿类疾病" size="medium"></el-checkbox>
							<el-checkbox label="其它" size="medium"></el-checkbox>
							<el-checkbox label="无" size="medium"></el-checkbox>
							</el-checkbox-group>
						</el-form-item>
					</el-col>
				</el-row>
				<el-row :gutter="10"><h3>四、个人病史</h3></el-row>
				<el-row :gutter="10">
					<el-col :span="8">
						<el-form-item label="">1、你是否做过胃肠镜？
						</el-form-item>
					</el-col>
					<el-col :span="4">
						<el-checkbox-group v-model="form.p1">
							<el-checkbox label="是" size="medium"></el-checkbox>
							<el-checkbox label="否" size="medium"></el-checkbox>
						</el-checkbox-group>
					</el-col>
					<el-col :span="6">
						<el-form-item label="时间">
							<el-input v-model="form.p1Date" placeholder="请输入" size="mini"></el-input>
						</el-form-item>
					</el-col>
				</el-row>
				<el-row :gutter="10">
					<el-col :span="8">
						<el-form-item label="">&nbsp;&nbsp;&nbsp;&nbsp;是否有胃肠息肉？
						</el-form-item>
					</el-col>
					<el-col :span="4">
						<el-checkbox-group v-model="form.p1One">
							<el-checkbox label="是" size="medium"></el-checkbox>
							<el-checkbox label="否" size="medium"></el-checkbox>
						</el-checkbox-group>
					</el-col>
					<el-col :span="6">
						<el-form-item label="时间">
							<el-input v-model="form.p1OneDate" placeholder="请输入" size="mini"></el-input>
						</el-form-item>
					</el-col>
				</el-row>
				
				<el-row :gutter="10">
					<el-col :span="8">
						<el-form-item label="">2、是否有个人疾病史？
						</el-form-item>
					</el-col>
					<el-col :span="4">
						<el-checkbox-group v-model="form.p2">
							<el-checkbox label="是" size="medium"></el-checkbox>
							<el-checkbox label="否" size="medium"></el-checkbox>
						</el-checkbox-group>
					</el-col>
				</el-row>
				<el-row :gutter="10">
					<el-col :span="4">
						<el-form-item label="">
							<label style="float: right;">（1）</label>
						</el-form-item>
					</el-col>
					<el-col :span="6">
						<el-form-item label="疾病诊断">
							<el-input v-model="form.p201Diagnose" placeholder="请输入" size="mini"></el-input>
						</el-form-item>
					</el-col>
					<el-col :span="6">
						<el-form-item label="确诊时间">
							<el-input v-model="form.p201Date" placeholder="请输入" size="mini"></el-input>
						</el-form-item>
					</el-col>
					<el-col :span="6">
						<el-form-item label="目前情况">
							<el-input v-model="form.p201Status" placeholder="请输入" size="mini"></el-input>
						</el-form-item>
					</el-col>
				</el-row>
				<el-row :gutter="10">
					<el-col :span="4">
						<el-form-item label="">
							<label style="float: right;">（2）</label>
						</el-form-item>
					</el-col>
					<el-col :span="6">
						<el-form-item label="疾病诊断">
							<el-input v-model="form.p202Diagnose" placeholder="请输入" size="mini"></el-input>
						</el-form-item>
					</el-col>
					<el-col :span="6">
						<el-form-item label="确诊时间">
							<el-input v-model="form.p202Date" placeholder="请输入" size="mini"></el-input>
						</el-form-item>
					</el-col>
					<el-col :span="6">
						<el-form-item label="目前情况">
							<el-input v-model="form.p202Status" placeholder="请输入" size="mini"></el-input>
						</el-form-item>
					</el-col>
				</el-row>
				
				<el-row :gutter="10">
					<el-col :span="8">
						<el-form-item label="">3、您是否有手术史？
						</el-form-item>
					</el-col>
					<el-col :span="4">
						<el-checkbox-group v-model="form.p3">
							<el-checkbox label="是" size="medium"></el-checkbox>
							<el-checkbox label="否" size="medium"></el-checkbox>
						</el-checkbox-group>
					</el-col>
				</el-row>
				<el-row :gutter="10">
					<el-col :span="4">
						<el-form-item label="">
							<label style="float: right;">（1）</label>
						</el-form-item>
					</el-col>
					<el-col :span="6">
						<el-form-item label="疾病诊断">
							<el-input v-model="form.p301Diagnose" placeholder="请输入" size="mini"></el-input>
						</el-form-item>
					</el-col>
					<el-col :span="6">
						<el-form-item label="手术时间">
							<el-input v-model="form.p301Date" placeholder="请输入" size="mini"></el-input>
						</el-form-item>
					</el-col>
					<el-col :span="6">
						<el-form-item label="手术名称">
							<el-input v-model="form.p301Name" placeholder="请输入" size="mini"></el-input>
						</el-form-item>
					</el-col>
				</el-row>
				<el-row :gutter="10">
					<el-col :span="4">
						<el-form-item label="">
							<label style="float: right;">（2）</label>
						</el-form-item>
					</el-col>
					<el-col :span="6">
						<el-form-item label="疾病诊断">
							<el-input v-model="form.p302Diagnose" placeholder="请输入" size="mini"></el-input>
						</el-form-item>
					</el-col>
					<el-col :span="6">
						<el-form-item label="手术时间">
							<el-input v-model="form.p302Date" placeholder="请输入" size="mini"></el-input>
						</el-form-item>
					</el-col>
					<el-col :span="6">
						<el-form-item label="手术名称">
							<el-input v-model="form.p302Name" placeholder="请输入" size="mini"></el-input>
						</el-form-item>
					</el-col>
				</el-row>
				<el-row :gutter="10">
					<el-col :span="8">
						<el-form-item label="">4、长期服用药物
						</el-form-item>
					</el-col>
					<el-col :span="4">
						<el-checkbox-group v-model="form.p4">
							<el-checkbox label="是" size="medium"></el-checkbox>
							<el-checkbox label="否" size="medium"></el-checkbox>
						</el-checkbox-group>
					</el-col>
				</el-row>
				<el-row :gutter="10">
					<el-col :span="4">
						<el-form-item label="">
							<label style="float: right;">（1）</label>
						</el-form-item>
					</el-col>
					<el-col :span="6">
						<el-form-item label="药物名称">
							<el-input v-model="form.p401Name" placeholder="请输入" size="mini"></el-input>
						</el-form-item>
					</el-col>
					<el-col :span="6">
						<el-form-item label="起始时间">
							<el-input v-model="form.p401Date" placeholder="请输入" size="mini"></el-input>
						</el-form-item>
					</el-col>
					<el-col :span="6">
						<el-form-item label="服用方法">
							<el-input v-model="form.p401Usage" placeholder="请输入" size="mini"></el-input>
						</el-form-item>
					</el-col>
				</el-row>
				<el-row :gutter="10">
					<el-col :span="4">
						<el-form-item label="">
							<label style="float: right;">（2）</label>
						</el-form-item>
					</el-col>
					<el-col :span="6">
						<el-form-item label="药物名称">
							<el-input v-model="form.p402Name" placeholder="请输入" size="mini"></el-input>
						</el-form-item>
					</el-col>
					<el-col :span="6">
						<el-form-item label="起始时间">
							<el-input v-model="form.p402Date" placeholder="请输入" size="mini"></el-input>
						</el-form-item>
					</el-col>
					<el-col :span="6">
						<el-form-item label="服用方法">
							<el-input v-model="form.p402Usage" placeholder="请输入" size="mini"></el-input>
						</el-form-item>
					</el-col>
				</el-row>
				<el-row :gutter="10">
					<el-col :span="8">
						<el-form-item label="">5、是否有过敏史？
						</el-form-item>
					</el-col>
					<el-col :span="4">
						<el-checkbox-group v-model="form.p5">
							<el-checkbox label="是" size="medium"></el-checkbox>
							<el-checkbox label="否" size="medium"></el-checkbox>
						</el-checkbox-group>
					</el-col>
				</el-row>
				<el-row :gutter="10">
					<el-col :span="2">
						<el-form-item>
						</el-form-item>
					</el-col>
					<el-col :span="1" style="width:150px">
							<span style="float: right;">药物/食物名称</span>
					</el-col>
					<el-col :span="8">
						<el-form-item label="">
							<el-input v-model="form.p5Name" placeholder="请输入" size="mini"></el-input>
						</el-form-item>
					</el-col>
				</el-row>
				<el-row :gutter="10"><h3>五、生活习惯</h3></el-row>
				<el-row :gutter="10">
					<el-col :span="8">
						<el-form-item label="">1、您有抽烟的习惯吗？
						</el-form-item>
					</el-col>
					<el-col :span="16">
						<el-checkbox-group v-model="form.h1">
							<el-checkbox label="无" size="medium"></el-checkbox>
							<el-checkbox label="偶尔" size="medium"></el-checkbox>
							<el-checkbox label="经常" size="medium"></el-checkbox>
							<el-checkbox label="已戒烟" size="medium"></el-checkbox>
							<el-checkbox label="电子烟" size="medium"></el-checkbox>
						</el-checkbox-group>
					</el-col>
				</el-row>
				<el-row :gutter="10">
					<el-col :span="4" :offset="2">
						<el-form-item label="吸烟">
							<el-input v-model="form.h1Years" placeholder="请输入" size="mini"></el-input>
						</el-form-item>
					</el-col>
					<el-col :span="1">
						年
					</el-col>
					<el-col :span="2">
						<el-input v-model="form.h1Few" placeholder="请输入" size="mini"></el-input>
					</el-col>
					<el-col :span="1" style="width:200px;">
						根/天
					</el-col>
				</el-row>
				
				<el-row :gutter="10">
					<el-col :span="8">
						<el-form-item label="">2、您有喝酒的习惯吗？
						</el-form-item>
					</el-col>
					<el-col :span="16">
						<el-checkbox-group v-model="form.h2">
							<el-checkbox label="无" size="medium"></el-checkbox>
							<el-checkbox label="偶尔" size="medium"></el-checkbox>
							<el-checkbox label="经常" size="medium"></el-checkbox>
							<el-checkbox label="已戒酒" size="medium"></el-checkbox>
						</el-checkbox-group>
					</el-col>
				</el-row>
				<el-row :gutter="10">
					<el-col :span="3" :offset="2" style="width:150px;">
							<span style="float: right;">种类及饮酒量</span>
					</el-col>
					<el-col :span="12">
						<el-form-item label="">
							<el-input v-model="form.h2Text" placeholder="请输入" size="mini"></el-input>
						</el-form-item>
					</el-col>
				</el-row>
				<el-row :gutter="10">
					<el-col :span="8">
						<el-form-item label="">3、您是否有熬夜的习惯？
						</el-form-item>
					</el-col>
					<el-col :span="16">
						<el-checkbox-group v-model="form.h3">
							<el-checkbox label="无" size="medium"></el-checkbox>
							<el-checkbox label="偶尔" size="medium"></el-checkbox>
							<el-checkbox label="经常" size="medium"></el-checkbox>
						</el-checkbox-group>
					</el-col>
				</el-row>
				<el-row :gutter="10">
					<el-col :span="1" :offset="2" style="width:150px">
							<span style="float: right;">入睡时间</span>
					</el-col>
					<el-col :span="12">
						<el-form-item label="">
							<el-input v-model="form.h3Time" placeholder="请输入" size="mini"></el-input>
						</el-form-item>
					</el-col>
				</el-row>
				<el-row :gutter="10">
					<el-col :span="8">
						<el-form-item label="">4、您是否良好的喝水习惯？
						</el-form-item>
					</el-col>
					<el-col :span="16">
						<el-checkbox-group v-model="form.h4">
							<el-checkbox label="是" size="medium"></el-checkbox>
							<el-checkbox label="否" size="medium"></el-checkbox>
						</el-checkbox-group>
					</el-col>
				</el-row>
				<el-row :gutter="10">
					<el-col :span="2">
						<el-form-item>
						</el-form-item>
					</el-col>
					<el-col :span="1" style="width:150px">
							<span style="float: right;">每日饮水量</span>
					</el-col>
					<el-col :span="12">
						<el-form-item label="">
							<el-input v-model="form.h4Many" placeholder="请输入" size="mini"></el-input>
						</el-form-item>
					</el-col>
				</el-row>
				<el-row :gutter="10">
					<el-col :span="8">
						<el-form-item label="">5、您的饮食习惯？
						</el-form-item>
					</el-col>
					<el-col :span="16">
						<el-checkbox-group v-model="form.h5">
							<el-checkbox label="规律" size="medium"></el-checkbox>
							<el-checkbox label="不规律" size="medium"></el-checkbox>
						</el-checkbox-group>
					</el-col>
				</el-row>
				<el-row :gutter="10">
					<el-col :span="9">
						<el-form-item label="">6、（女性）月经史：是否怀孕？
						</el-form-item>
					</el-col>
					<el-col :span="15">
						<el-checkbox-group v-model="form.h6">
							<el-checkbox label="是" size="medium"></el-checkbox>
							<el-checkbox label="否" size="medium"></el-checkbox>
						</el-checkbox-group>
					</el-col>
				</el-row>
				<el-row :gutter="10">
					<el-col :span="1" :offset="2" style="width:150px">
							<span style="float: right;">末次月经日期</span>
					</el-col>
					<el-col :span="5">
						
							<el-date-picker
								v-model="form.h6Date"
								type="date"
								value-format="yyyy-MM-dd" format="yyyy-MM-dd"
								placeholder="选择日期"
								size="mini">
								</el-date-picker>
					</el-col>
					<el-col :span="1" style="width:150px">
							<span style="float: right;">周期（天数）</span>
					</el-col>
					<el-col :span="4">
						<el-input v-model="form.h6Days" placeholder="请输入" size="mini"></el-input>
					</el-col>
				</el-row>
				<el-row :gutter="10"><h3>六、其它特殊说明（如异常指标等）</h3></el-row>
				<el-row :gutter="10">
					<el-col :span="2">
					</el-col>
					<el-col :span="22">
						<el-form-item >
						<el-input type="textarea" v-model="form.others"></el-input>
						</el-form-item>
					</el-col>
				</el-row>
				<el-row :gutter="10"><h3>七、是否曾做过细胞治疗（时间、地点、方案、次数）</h3></el-row>
				<el-row :gutter="10">
					<el-col :span="2">
					</el-col>
					<el-col :span="22">
						<el-form-item >
						<el-input type="textarea" v-model="form.treat"></el-input>
						</el-form-item>
					</el-col>
				</el-row>
				<el-row :gutter="10">
					<el-col :span="6" :offset="2">
						<el-form-item label="本人签名">							
							<el-input v-model="form.fullname" placeholder="请输入" size="mini" disabled></el-input>
						</el-form-item>
					</el-col>
					<el-col :span="6">
						<el-form-item label="护士签名">
							<el-select v-model="form.nurseName" placeholder="请选择" size="mini"
							@change="nurseChange">
								<el-option v-for="one in userList"
									:key="one.username"
									:value="one.username"
									:label="one.fullname"
								>
								</el-option>
							</el-select>
						</el-form-item>
					</el-col>
					<el-col :span="5">
						<el-form-item label="填表日期">	
							<el-date-picker
								v-model="form.createDate"
								type="date" value-format="yyyy-MM-dd" format="yyyy-MM-dd"
								placeholder="选择日期"
								size="mini">
								</el-date-picker>						
						</el-form-item>
					</el-col>
				</el-row>
			</el-form>
			<span slot="footer" class="dialog-footer">
				<a class="bluebtn mr20" @click="saveAdd('form')" v-if="isAdd">保存</a>
				<a class="bluebtn mr20" @click="saveEdit('form')" v-else>保存</a>
				<a class="graybtn_b" @click="dialogVisible = false">取消</a>
			</span>
		</el-dialog>

	</div>
	<script src="../include/lib/polyfill.min.js"></script>
	<script src="../include/lib/browser.min.js"></script>
	<script src="../include/lib/jquery-1.11.0.min.js"></script>
	<script src="../include/lib/vue.min.js"></script>
	<script src="../include/element/index.js"></script>
	<script src="../include/lib/axios.min.js"></script>
	<script src="../include/lib/config.js"></script>
	<script src="include/js/template.js"></script>
</body>

</html>